body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  opacity: 1;
  color: #fff;
  font-weight: 600;
}

.navbar .nav-item {
  font-size: 1.3rem;
  padding-right: 1.4rem;
}

.navbar .nav-link:hover {
  border-bottom: 2px solid #4c4c4c;
}

.navbar-custom .navbar-nav .nav-link {
  color: #4f5a65;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #badeff;
}

.active {
  border-bottom: 3px solid #badeff;
}

#showcase {
  position: relative;
  background: url(../img/lance-anderson-QdAAasrZhdk-unsplash.jpg) no-repeat center center/cover;
  min-height: 600px;
  height: 82vh;
}

#showcase-alt {
  position: relative;
  background: url(../img/lance-anderson-QdAAasrZhdk-unsplash.jpg) no-repeat center center/cover;
  min-height: 350px;
  height: 35vh;
}

.showcase-para {
  font-size: 1.5rem;
}

.hero-right--box1 {
  max-width: 440px;
  min-height: 300px;
  margin-top: 120px;
  margin-left: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), to(rgba(196, 196, 196, 0)));
  background: linear-gradient(180deg, #c4c4c4 0%, rgba(196, 196, 196, 0) 100%);
  border-radius: 25px;
}

.hero-right--box2 {
  max-width: 440px;
  min-height: 300px;
  margin-top: -200px;
  margin-right: 100px;
  background: #badeff;
  opacity: 0.8;
  border-radius: 25px;
}

.hero__para {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 2rem 2rem;
  text-align: center;
}

#banner {
  height: 6vh;
}

.banner-alt {
  border-bottom: 0.2px solid #4f5a65;
}

.banner_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.2rem;
  font-weight: 600;
}

.banner_content .minisym {
  color: #badeff;
  font-size: 1.5rem;
}

.info-header {
  margin: auto;
  width: 50%;
  border-bottom: 1px #ddd solid;
}

.card-size {
  min-height: 250px;
}

.cases__img-size {
  width: 100%;
  height: auto;
}

.slick-next {
  color: #4f5a65;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
  }
  #showcase h1 {
    font-size: 4rem;
  }
  .mb-resp {
    margin-bottom: 1rem;
  }
  .hero-right--box1 {
    display: hidden;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-left: 0;
  }
  .hero-right--box2 {
    margin-right: 0;
    margin-top: -280px;
  }
  #banner {
    display: none;
  }
}

@media (max-width: 1199px) {
  .banner_content {
    font-size: 1rem;
  }
  .box__writing {
    font-size: 0.9rem;
  }
  .card-size {
    min-height: 210px;
  }
  .icon__size {
    font-size: 0.9rem;
  }
}

@media (max-width: 991px) {
  .hero-right--box1 {
    display: hidden;
    width: 0;
    height: 0;
    margin-top: 0;
    margin-left: 0;
  }
  .hero-right--box2 {
    margin-right: 0;
    margin-top: -280px;
  }
  .banner_content {
    font-size: 0.8rem;
  }
  .box__writing {
    font-size: 0.9rem;
  }
  .card-size {
    min-height: 200px;
  }
  .icon__size {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=style.css.map */